body {
    background-image: linear-gradient(rgba(82, 157, 233), rgba(177, 227, 252));
    margin: 0vw;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 2vw;
    text-align: center;
}

.logo {
    width: 100%;
    background-color: rgb(151, 209, 195);
    border-bottom: solid black 2px;
}

.pose_nav {
    display: flex;
    justify-content: center;
}

a {
    color: rgb(20, 62, 82);
}

a:hover {
    color: gold;
}

nav {
    background-color: rgb(151, 209, 195);
    display: flex;
    border: solid black;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}

@media screen and (min-width: 992px) {
    img {
        width: 20%;
    }
    body {
        font-size: 2.759vw;
        height: 100vh;
    }
    nav {
        height: 20vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    img {
        width: 60%;
    }
    body {
        font-size: 6vw;
    }
    nav {
        height: 50vw;
    }
}

@media screen and (max-width: 768px) {
    img {
        width: 70%;
    }
    body {
        font-size: 8vw;
    }
    nav {
        height: 60vw;
    }
}